<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shared Movies</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  {% load static %}
  <script src="{% static 'page1.js' %}"></script>
</head>

<body>
  <header>
    <div class="container">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/app">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="">PAGE 1</a>
        </li>
      </ul>
    </div>
  </header>
  
  <main>
<!-- CONTENT -->
    <div class="container-fluid mt-3 text-center justify-content-center" style="min-height: 20vh;">
      <div class="row">
    <!-- Première colonne -->
        <div class="col-md-4">
          <h3>Colonne 1</h3>
          <div class="mt-3">
            <label for="listInput">Vos listes de favoris</label>
            <select class="form-control" id="listInput">
              <!-- Options de la liste ici -->
              <option value="test_list_1">American actors</option>
              <option value="test_list_2">Canadian actors</option>
              <!-- ... -->
            </select>
          </div>
          <div class="form-group">
            <label for="inputListFav">Gérer vos listes de favoris</label>
            <input placeholder="Entrez un nom pour créer une nouvelle liste..." type="text" class="form-control" id="inputListFav">
            <div class="input-group-btn">
              <button class="btn btn-success" onclick="ajouterValeur('inputListFav', 'listInput', 'errorText', 'emptyErrorText', 'successMessage')">Ajouter</button>
              <button class="btn btn-danger" onclick="supprimerValeur('listInput', 'deleteMessage')">Supprimer</button>
              <button class="btn btn-warning" onclick="annulerSuppression('listInput', 'restoreMessage')">Annuler Suppression</button>
            </div>
            <small id="errorText" class="text-danger">
            </small>
            <!-- Message d'erreur pour doublons -->
            <small id="emptyErrorText" class="text-danger">
            </small>
            <!-- Message d'erreur pour input vide -->
            <div id="successMessage" class="mt-2 alert alert-success d-none" role="alert">La valeur a bien été ajoutée.</div>
            <div id="deleteMessage" class="mt-2 alert alert-danger d-none" role="alert">La valeur a été supprimée.</div>
            <div id="restoreMessage" class="mt-2 alert alert-warning d-none" role="alert">La valeur a bien été restaurée.</div>
          </div>
        </div>

    <!-- Deuxième colonne -->
        <div class="col-md-8">
          <h3>Colonne 2</h3>
          <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Onglet 1</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Onglet 2</button>
              </li>
            </ul>
          </div>
          <div class="tab-content" id="myTabContent">
    <!-- Onglet 1 -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <!-- Contenu de l'onglet 1 -->
              <div class="form-group">
                <label for="outputListTab1">Chercher des acteurs et actrices et les ajouter dans la liste</label>
                <p id="outputListTab1"></p>
                <div class="col-md-6 mx-auto">
                  <label for="inputOnglet1">Chercher un acteur ou une actrice</label>
                  <input placeholder="Entrez le nom d'un.e acteur.ice" type="text" class="form-control" id="inputOnglet1">
                  <button class="btn btn-primary" onclick="func_search_actor()">Chercher</button>
                  <div>
                    <label for="textOutputTab1">Nom de l'acteur.ice</label>
                    <input placeholder="Search for actor/actress" type="text" id="textOutputTab1" disabled>
                  </div>
                  <div>
                    <h5>Portrait de l'acteur.ice</h5>
                    <img src="" alt="Image Acteur.ice" id="imageOutputTab1" class="img-fluid">
                  </div>
                  <label for="listInputTab1">Ajouter acteur.ice à la liste</label>
                  <select class="form-control" id="listInputTab1">
                    <!-- Options de la liste ici -->
                    <option value="item1">Item 1</option>
                    <option value="item2">Item 2</option>
                    <!-- ... -->
                  </select>
                  <div>
                    <button class="btn btn-success" onclick="ajouterValeur('textOutputTab1', 'listInputTab1', 'errorTextTab1', 'emptyErrorTextTab1', 'successMessageTab1')">Ajouter</button>
                    <button class="btn btn-danger" onclick="supprimerValeur('listInputTab1', 'deleteMessageTab1')">Supprimer</button>
                    <button class="btn btn-warning" onclick="annulerSuppression('listInputTab1', 'restoreMessageTab1')">Annuler Suppression</button>
                  </div> 
                  <small id="errorTextTab1" class="text-danger">
                  </small>
                  <!-- Message d'erreur pour doublons -->
                  <small id="emptyErrorTextTab1" class="text-danger">
                  </small>
                  <!-- Message d'erreur pour input vide -->
                  <div id="successMessageTab1" class="mt-2 alert alert-success d-none" role="alert">La valeur a bien été ajoutée.</div>
                  <div id="deleteMessageTab1" class="mt-2 alert alert-danger d-none" role="alert">La valeur a été supprimée.</div>
                  <div id="restoreMessageTab1" class="mt-2 alert alert-warning d-none" role="alert">La valeur a bien été restaurée.</div>
                </div>
              </div>
            </div>
    <!-- Onglet 2 -->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <!-- Contenu de l'onglet 2 -->
              <div class="form-group">
                <label for="outputListTab2">Output de la Liste</label>
                <p id="outputListTab2"></p>
                <label for="listInputTab2">Liste</label>
                <select class="form-control" id="listInputTab2">
                  <!-- Options de la liste ici -->
                  <option value="item1">Item 1</option>
                  <option value="item2">Item 2</option>
                  <!-- ... -->
                </select>
              </div>
              <div>
                <h5>Texte</h5>
                <p id="textOutputTab2"></p>
              </div>
              <div>
                <h5>Image</h5>
                <img src="" alt="Image Output Tab 2" id="imageOutputTab2" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <footer>

  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>